.menu {
    background: url(../../img/bg/menu-bg.png) center center no-repeat;
    background-size: cover;
    position: relative;
    // font-size: 0;
}

.menu__title {
    font-size: 72px;
    font-family: 'gagalinregular';
    margin-bottom: 12px;
    position: absolute;
    top: 10%;
    left: 10%;
    color: $white;
}

.menu-list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu-list:before,
.menu-list:after {
    content: "";
    display: table;
}

.menu-list:after {
    clear: both;
}

.menu-list__item {
    float: left;
    height: 100%;
}

.menu-list__trigger {
    display: block;
    height: 100%;
    width: 80px;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-decoration: none;
    position: relative;
}

.menu-list__trigger-meats {
    background-image: url('../../img/bg/meats-bg.png');
}

.menu-list__trigger-vegans {
    background-image: url('../../img/bg/vegans-bg.png');
}

.menu-list__trigger-diet {
    background-image: url('../../img/bg/diet-bg.png');
}

.menu-list__trigger-text {
    font-size: 40px;
    color: $white;
    font-family: 'gagalinregular';
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-align: center;
    white-space: nowrap;
    width: 650px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: -275px;
    margin-top: -40px;
}

.menu-list__content {
    height: 100%;
    float: left;
    background: rgba(47, 50, 52, 0.93);
    width: 0;
    overflow: hidden;
}

.menu-list__content-text {
    font-family: 'ubuntulight';
    font-size: 14px;
    color: $white;
    padding: 60px 30px;
    width: 550px;
    line-height: 1.8;
}
