.form {
  background: url('../../img/bg/order-form-bg.png') 50% no-repeat;
  background-size: cover;
}

.form .section__title {
  text-align: center;
}

.form .container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form__order {
  margin-left: -5%;
}

.form__col {
  float: left;
  width: 45%;
  margin-left: 5%;
}

.form__row {
  margin-bottom: 16px;
}

.form__label {
  margin-bottom: 17px;
  font-family: 'ubuntulight';
  color: #fff;
  font-size: 14px;
}

.form__input {
  font-size: 14px;
  padding: 10px;
  padding: 5px 10px;
  border: 1px solid #d1cfcb;
  border-radius: 5px;
  width: 100%;
}

.form__block {
  display: block;
}

.form__row-double {
  margin-left: -20px;
}

.form__row-double .form__block {
  float: left;
  width: calc(100% / 2 - 20px);
  margin-left: 20px;
}

.form__row-quatro {
  margin-left: -20px;
}

.form__row-quatro .form__block {
  float: left;
  width: calc(100% / 4 - 20px);
  margin-left: 20px;
}

.form__input-textarea {
  height: 110px;
}

.form__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.form__radio-elem {
  position: absolute;
  top: 0;
  left: -9999px;
}

.form__radio-fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.form__radio-fake:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #e35028;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
}

.form__radio-elem:checked+.form__radio-fake:after {
  width: 8px;
  height: 8px;
}

.form__radio-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

.form__radio-checkbox .form__radio-fake {
  border-radius: 0px;
}

.form__radio-checkbox .form__radio-elem+.form__radio-fake:after {
  background: transparent;
}

.form__radio-checkbox .form__radio-elem:checked+.form__radio-fake:after {
  background: url('../../img/icons/check.svg') 50% no-repeat transparent;
  background-size: contain;
  width: 11px;
  height: 9px;
}

.form__button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  border: 0;
  background: #e35028;
  font-size: 13px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
}

.form__button-reset {
  padding-left: 0;
  padding-right: 0;
  text-transform: none;
  background: transparent;
}