.team {
    background: url(../../img/bg/team-bg.png) center center no-repeat;
    background-size: cover;
    position: relative;
}

.team__section {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: rgba(47, 50, 52, 0.93);
    padding: 5% 2% 0% 7%;
}

.team .section__title {
    margin-bottom: 12%;
}

.section__title {
    color: #f9b43b;
    font-size: 72px;
    font-family: 'gagalinregular';
    margin-bottom: 12px;
}

.team-acco {
    padding-left: 17px;
}

.team-acco__item {
    margin-bottom: 40px;
}

.team-acco__trigger {
    color: #fff;
    font-size: 14px;
    font-family: 'gagalinregular';
    text-decoration: none;
    position: relative;
    display: block;
}

.team-acco__trigger:before {
    border-top: 7px solid #f9b43b;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s;
    transition: .3s;
}

.team-acco__trigger:before, .team-acco__trigger:after {
    content: "";
    display: block;
    position: absolute;
    left: -18px;
    top: 8px;
    width: 0;
    height: 0;
}





